body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3F4652;
    max-width:1200px;
    margin: auto;
    font-size: 14px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #3F4652;
}
.menu a:hover {
    color:#fcb12c;
}
.logo {
    display: flex;
    justify-content: space-around;
}
.logo p {
    font-size: 14px;
    padding-left: 20px;
}
.logo img {
    align-self: center;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.menu ul>li {
    padding-right: 25px;
}
.picture {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    height: 425px;
    background-position: -291px -497px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.picture h1{
    font-size: 40px;
}
.picture span {
    font-size: 18px;
}
.btn {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    background: transparent;
    color: white;
    font-weight: bold;
}
.btn:hover {
    background-color: white;
    color: black;
}
.features {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.column {
    margin: 30px;
}
.about {
    display: flex;
    align-items: center;
    margin: auto;
    height: 350px;
    background-color: #F7F7F7;
}
.text-about {
    margin: auto;
    width: 400px;
    height: 250px;
}
.image-moon {
    background-image: url(images/moon-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 250px;
    margin: auto;
}
.image-moon-2 {
    background-image: url(images/moon-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 225px;
    margin: auto;
}
.bgc-white {
    background-color: #fff;
}
.form {
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form h1 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    width: 400px;
    margin: auto;
}
fieldset {
    border: 2px solid #2BD9B7;
    margin-bottom: 20px;
}
legend {
    font-size: 16px;
    font-weight: bold;
    color: #2BD9B7;
}
label {
    font-weight: bold;
    padding: 5px;
}
select {
    border: 1px solid grey;
    border-radius: 7px;
    width: 135px;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
}
select[name="decor"]{
    margin-left: 126px;
}
fieldset input {
    border: 1px solid grey;
    border-radius: 7px;
    width: 160px;
    height: 20px;
    margin-bottom: 12px;
    margin-left: 125px;
}
input[name="username"]{
    margin-top: 10px;
    margin-left: 158px;
}
input[name="e-mail"]{
    margin-left: 144px;
}
input[type="submit"]{
    border: 1px solid #2BD9B7;
    color: #2BD9B7;
    font-weight: bold;
    border-radius: 7px;
    padding: 8px 22px;
    background: transparent;
}
input[type="submit"]:hover {
    color: white;
    background-color: #2BD9B7;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #303846;
    height: 150px;
    color: white;
    font-weight: bold;
}
.documentation p, .builder p {
    font-size: 16px;
}
.text {
    display: flex;
    flex-direction: column;
}
.footer-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-logo p {
    padding-left: 15px;
}

